/*Global*/
@import url('animaciones.css');
* {
    box-sizing: border-box;
}
html,body{
    background-color: rgba(240, 240, 240, 0.459);
    margin: 0;
    font-size: calc( 14px + 8 * ((100vw - 500px) / 1500))!important;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: 700;
    line-height: 1.6em;
    
}
html{
    background: url(/backend/images/JPG/3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main{
    position: relative;
    display: block;
    top: 10vh;
  
}
.row {
    margin-top: 0!important;
}
/*ESTILOS HEADER*/
header{
    display:none;    
}

.ss-main-titulo{
    color: #eaf0f7;
    text-transform: capitalize;
}



h1.ss-main-titulo{
    position: absolute;
    display: inline-block;
    width: 100px;
    font-family: "Whitney Cond A", "Whitney Cond B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
    text-transform: capitalize;
    top:0;
    left:120px;

    /*border-bottom: 4px solid rgb(0, 0, 0);*/
    
}
.ss-logo-cine-mobile, .ss-logo-cine-mobile svg{
    
    position: absolute;
    display: inline-block;
    width: 70px;
    height: auto;
    top: 0;
    left:0;
    padding: 0.5em;
    object-fit: cover;
    margin : 0;
    stroke:rgb(255, 0, 0);
    stroke-width: 4;
    z-index: 99999;
}
#ss-show-navBar {
    display: none;
}
.ss-logo-cine{
    display: none;
}
/*Config Global Grid*/
.ss-header-item{
    grid-row: 1 ;
    grid-column: 1 /span 2;
}

/* Navegacion*/
.ss-navBar , .ss-navBar ul , .ss-navBar ul li{
    background:rgb(0, 0, 0);
}
.ss-navBar{
    width: 100%;
    position: fixed;
    height: 60px!important;
    top:0;
    opacity: 1;
    color:white;
    z-index: 500;
    max-height: 100px;
}
.ss-navBar >.ss-navigation {
    position: absolute;
    right: 0px;
    margin-top: 15px;
    margin-right: 10px;
    width: 28px;
    height: 28px;
}
.ss-navBar > ul {
    display:inline-block;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 0px;
    position: relative;
    background-color: #111;
    top:50px;
    left: 0;
    transition: 0.3s linear;
}
.ss-navBar ul li {
    opacity: 0;
    visibility: hidden;
    position: relative;
    top:0px;
    margin: 0px 5px;
    display: inline-block;
    font-size: 8px;
    text-align: center;
    color:white;
    font-weight: bold;
    transition: 2s;
}
.ss-navBar ul li a {
    color:white;
    line-height: 1.6em!important;
}
.ss-navBar ul li svg{
    margin: auto;
    width: 40px;
    height: 50px;
    display: block;
    background: transparent;
    
}
/*ICONOS SVG*/
.ss-home-icon svg, .ss-profile-icon svg , .ss-movies-icon svg, .ss-promotions-icon svg ,.ss-faq-icon svg, .ss-logout-icon svg{
    opacity: 1!important;
    stroke-width: 15;
    width: 100%;
    height: 40px;
    transition: 0.3s;
    fill: rgb(255, 255, 255)!important;
}
.ss-navBar ul li span.ss-home-icon svg {
    stroke: rgb(0, 102, 255);
    
    
}
.ss-navBar ul li span.ss-profile-icon svg {
    stroke: rgb(53, 235, 114);
    
}
.ss-navBar ul li span.ss-movies-icon svg {
    stroke: rgb(255, 60, 0);

}
.ss-navBar ul li span.ss-promotions-icon svg {
    stroke: rgb(255, 0, 191);

}
.ss-navBar ul li span.ss-faq-icon svg {
    stroke: rgb(0, 217, 255);

}
.ss-navBar ul li span.ss-logout-icon svg {
    stroke: rgb(255, 0, 0);

}
/*FIN DE ICONOS SVG*/
/*MODALES BS*/
.modal-dialog {
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    margin: 0;
    
  }
  .modal-body{
      background: transparent;
      height: 80vh;
  }
  .modal-content {
    background: rgba(0, 0, 0, 0.493);
    color:white;
    height: auto;
    min-height: 70vh;
    border-radius: 0;
  }
  .modal-content h3{
      width: 85%;
      color:#fff;
      text-align: center;
      display: inline-block;
  }
  .modal-header{
      background: #111;
  }
  .modal-header button {
      width: 10%;
      opacity: 1;
  }
  .modal-header button svg {
    background:transparent;
    opacity: 1;
    stroke-width: 1;
    stroke:#fff;
    fill:#fff;
    opacity: 1;
    width: 25px;
    height: 25px;
    font-weight: bold;
    z-index: inherit;
    display: inline-block;
    transition: 2s;
    
  }


@media only screen and (min-width: 1080px){
    /*Config global titulo seccion*/
    .ss-header-item{
        grid-row: 1 ;
        grid-column: 1;
    }
    .ss-main-container {
        display: block;
        position: relative;
        top:0;
        left:10%;
        right: 0%;
        width: 80%;
        padding:10px;
    }
    .row{
        margin-top: 10%!important;
        margin-bottom: 10%!important;
    }
    /*HEADER*/
    .ss-navBar .ss-main-titulo {
        display: none;
    }
    header .nav{
        margin: 0.6em; 
    }
    header .navbar{
        background:transparent!important;
    }
    header .navbar-collapse ul {
        width: 70%;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        
    }
    header .navbar-collapse ul li{
        position: relative;
        right: 0;
        padding: 0;
        margin:2px;
        border-radius: 12px;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(91, 35, 105, 0)), color-stop(41%, #332e2ebe), color-stop(59%, #332e2ebe), color-stop(100%, rgba(91, 35, 105, 0)));
        border: 2px solid rgba(211, 241, 235, 0.596)!important;
        transition: 1s;
    }
    header .navbar-collapse ul li:hover , header .navbar-collapse ul li:hover a{ 
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,rgba(211, 241, 235,0.267)), color-stop(41%, #111), color-stop(59%, #111), color-stop(100%, rgba(211, 241, 235,0.267)));
    }
    header .navbar-collapse ul li a{
        color:rgb(255, 255, 255)!important; 
        font-size: 0.8em;
        text-transform: uppercase;
    }
    header *:not(.btn){
        border:none!important;
    }
    header{
        display: block;
        position: relative;
        top:0;
        left: 0;
        margin:0;
        width: 100%;
        height: 94px;
        padding: 1em;
        background: rgba(0, 0, 0);
        color:rgb(139, 136, 136);
        z-index: 400;
        border-bottom: 2px solid black;
    }
    header h1{
        width: 10%;
        margin: 0; 
        text-align: right;
        color: white!important;
        /*border-bottom: 4px solid rgb(0, 0, 0);/*/
    }
    .ss-logo-cine{
        padding: 0!important;
        position: relative;
        display: inline-block;
        width: 5vw;
        padding: 5px;
        top: 0;
        left:0;
        object-fit: cover!important;
        -webkit-filter: brightness(3);
        filter: brightness(3);
        border-radius: 20%;
        margin : 0;
    }
    .ss-logo-cine svg {
        margin: 0;
        padding: 0;
        max-width: 80px;
        max-height: 80px;
        position: relative;
        top:0px;
        margin-top: -15px;
        left: 0;
        stroke: rgba(255, 1, 1, 0.445);
        stroke-width: 5;
        animation:  ss-parpadeo 5s infinite,dash 5s infinite;
    }

    .ss-logo-cine-mobile, .ss-logo-cine-mobile * {
        display:none;
    }
    /*FIN HEADER*/

/*NAVEGACION*/
.ss-navigation {
    display: none;
}
/* ICONOS NAVEGACION LATERAL*/
.ss-home-icon svg, .ss-profile-icon svg ,.ss-logout-icon svg, .ss-movies-icon svg, .ss-promotions-icon svg ,.ss-faq-icon svg{
    stroke:white!important;
    width: 100%!important;
    height: 40px!important;
    transition: 0.3s!important;
    fill: rgba(0, 0, 0, 1);
}
.ss-navBar:hover ul li span.ss-home-icon svg , .ss-navBar-active  span.ss-home-icon svg{
    stroke: rgb(0, 102, 255)!important;
    
}
.ss-navBar:hover ul li span.ss-profile-icon svg , .ss-navBar-active span.ss-profile-icon svg{
    stroke: rgb(53, 235, 114)!important;

}
.ss-navBar:hover ul li span.ss-movies-icon svg , .ss-navBar-active  span.ss-movies-icon svg{
    stroke: rgb(255, 60, 0)!important;

}
.ss-navBar:hover ul li span.ss-promotions-icon svg , .ss-navBar-active  span.ss-promotions-icon svg{
    stroke: rgb(255, 0, 191)!important;

}
.ss-navBar:hover ul li span.ss-faq-icon svg , .ss-navBar-active  span.ss-faq-icon svg{
    stroke: rgb(0, 217, 255)!important;

}
.ss-navBar:hover ul li span.ss-logout-icon svg , .ss-navBar-active  span.ss-logout-icon svg{
    stroke: rgb(255, 0, 0)!important;

}
/* FIN DE ICONOS NAVEGACION LATERAL*/
#ss-show-navBar{
    display:block;
    top:50vh;
    position: fixed;
    height: 100px!important;
    width: 40px!important;
    background: transparent;
    left:-40px;
    z-index: 800;
    transition: 1s;
}
#ss-show-navBar svg{
    stroke: rgba(245, 242, 242, 0.603);
    fill:black;
    stroke-width: 5;
    height: 100px;
    width: 40px;
    margin: 0;
    padding: 0;
    animation: ss-parpadeo 5s infinite,  dash 15s infinite;
    transition: 1s;
    stroke-dasharray: 100;
}
.boton-muestra-navBar-activo{
    left:0px!important;
}
.boton-muestra-navBar {
    transition: 1s;
    left: 70px!important;
}
.boton-muestra-navBar svg{
    transition: 1s;
    transform: rotateY(180deg);
}
.muestra-navBar{
    transition: 1s;
    left:0!important;
}
.ss-navBar {
    display: block;
    position: fixed;
    left: -70px;
    z-index: 30;
    top:25vh!important;
    backface-visibility: hidden;
    width: 70px!important;
    height: 20vh;
    max-height: 100%!important;
    transition: 1s;
}
.ss-navBar * {
    width: 100%!important;
}
.ss-navBar > ul {
    display:block;
    width: 100%!important;
    opacity: 1;
    visibility: visible;
    position: relative;
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    height: 100%;
}
.ss-navBar ul li{
    display:block;
    opacity: 1;
    visibility: visible;
    text-align: center;
    margin: 0;
    padding: 1px;
    transition: 1s;
}
.ss-navBar ul li a span.ss-texto-animado {
    position : relative;
    color: white;
    font-size: 9px;
    left: -300px;
    transition: 0.3s ease;

}
.ss-navBar-active{
    
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
}
.ss-navBar-active span svg, .ss-navBar-active span {    
    color:rgb(204, 204, 204)!important;
    left: 0!important;
    font-weight: bold;
    animation: ss-parpadeo 5s infinite;

}
.ss-navBar-active span , .ss-navBar-active a{
    left: 0!important;
    text-decoration: none;
}

.ss-navBar:hover ul li a span.ss-texto-animado {
    left : 0;
}

.ss-navBar ul li:hover:not(.ss-navBar-active) *{
    height: 45px!important;
}
    /*MODAL BS*/
    .modal-header button:hover svg {
        color: #fff;
        box-shadow: none;
        text-shadow: none;
        stroke-width: 2;
        stroke:rgb(7, 107, 90);
        fill:white;
        transform: rotate(360deg);
        
    }
    .modal-dialog {
        width: 60vw;
        height: 100vh;
        margin-left: 25%;
        
        
      }
      .modal-body{
          background: transparent;
          height: 70vh;
      }
      .modal-content {
        color:white;
        height: auto;
        min-height: 70vh;
        border-radius: 0;
      }
}
