form {
    display: grid;
    position: relative;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 10% 1fr;
    grid-row-gap: 10px;
}

ul {
    grid-column: 1 /span 2;
}

.tab-content{
    grid-column: 1 /span 2;
    grid-row: 2;
}
.tab-pane{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;

}
 
.form-group {
    position: relative;
    width: 100%;
    display: inline-block;
    justify-self: end;
}
.form-group input {
    margin: 0;
    padding: 0;
    width: 55%;
    display: block;
    position: relative;
    border: none;
    background:#fff;
    border-bottom: 1px solid black;
    margin-top: 2em;
    height: 5vh;
    

}
.form-group label{
    position: absolute;
    font-size: 18px;
    width: 25%;
    margin-bottom: -10px;
    
    padding: 0;
    z-index: 50;
}