html{
    background: url(../images/JPG/2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background: transparent;
}
.container-fluid{
    padding: 0;
}
.ss-grid-perfil {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 20% repeat(7,10%) 1fr;
    border:1px solid black;
    padding: 5px;
    grid-row-gap: 0em;    
    background: rgba(255, 255, 255, 0.4);    
}
.btn{
    display: flex;
    font-size: 0.7em;
    width: 100px;
    margin: 2px 3px;
    background-image: linear-gradient(128deg, #004da7, #000000,#006c7d );
    color:white!important;
    border-radius: 10px;
    justify-content: center;
    transition: 1s;

}
.btn:active{
    background-image: linear-gradient(128deg, #004ea76c, #0000005b,#006c7d81 );
}

.img-perfil .btn {
    width: 100%; 
}


.ss-grid-perfil .ss-perfil-titulo {
    display: block;
}

 .ss-perfil-nickname, .ss-perfil-nombre , .ss-perfil-ape1 , .ss-perfil-ape2, .ss-perfil-email, .ss-perfil-dni,  .ss-perfil-date {
    border-bottom: 2px solid black;
    vertical-align: bottom;
    padding: 0; 
}
.ss-perfil-titulo {
    font-size: 1em;
    color:rgb(0, 0, 0);
    font-weight: bold;
}
.ss-perfil-datos{
    color:black;
    font-size: 1em;
    font-weight: 300;
}
.img-perfil img{
    object-fit: cover;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    
}
.img-perfil {
    grid-row : 1;
}
.ss-perfil-nickname{
    grid-row: 2;
}
.ss-perfil-nombre{
    grid-row: 3;
}
.ss-perfil-ape1{
    grid-row: 4;
}
.ss-perfil-ape2{
    grid-row: 5;
}
.ss-perfil-dni {
    grid-row:6;
}
.ss-perfil-email{
    grid-row: 7;
}
.ss-perfil-date{
    grid-row: 8;
}
.ss-perfil-clave{
    grid-row: 9;
}

/*CONTENEDOR Y BOTONES SVG*/
.acciones {
    display: inline-block;
    position: relative;
    width: 120px;

}
.acciones .btn {
    margin:0px 5px;
    padding: 1%;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.068);
    border-radius: 2px;
}
.acciones svg {
    stroke: rgb(2, 2, 2);
    stroke-width: 1;
    animation: ss-parpadeo-perfil 5s infinite;
    width: 30px!important;
    height: 30px!important;
    margin:0;
}
.acciones .done svg{
    stroke-width: 3;
    stroke:black;
    fill: greenyellow;
}

input.has-error{
    background: rgba(255, 0, 0, 0.493);
}
span.alerta {
    color:red;
    display: block;
    font-weight: bold;
}
form label {
    display: block;
}


/*Subir archivo personalizado*/
.img-perfil .acciones{
    width: 100%!important;
}
input[type='file']{
    position: absolute;
    top:-20000px;
}
.upload svg {
    animation: ss-parpadeo-perfil 5s infinite;
    stroke: blue;
    fill: rgb(138, 238, 255);
}
.ss-img-subida {
    color:black;
    font-weight: 400;
    
    height: 35px;
}
/*Fin subir archivo personalizado*/
@media only screen and (min-width: 1080px) {
html {
    background: #000;
}
.ss-grid-perfil {
    top:0;
    background: rgba(255, 255, 255, 0.678);
    width: 40%;
    margin: auto;
    -webkit-box-shadow: -1px 7px 54px -8px rgba(255,255,255,0.49);
    -moz-box-shadow: -1px 7px 54px -8px rgba(255,255,255,0.49);
    box-shadow: -1px 7px 54px -8px rgba(255,255,255,0.49);
}

.acciones button {
    background: transparent!important;
}

}


/*Animaciones*/
@-webkit-keyframes ss-parpadeo-perfil {
    0%   {stroke-width: 1;}
    25%  {stroke-width: 7;}
    50%  {stroke-width: 1;}
    75%  {stroke-width: 7;}
    100% {stroke-width: 1;}

}

/* Standard syntax */
@keyframes ss-parpadeo-perfil{
    0%   {stroke-width: 1;}
    25%  {stroke-width: 7;}
    50%  {stroke-width: 1;}
    75%  {stroke-width: 7;}
    100% {stroke-width: 1;}
}

.ss-fade-in {
	opacity: 1;
	animation-name: ss-fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.ss-fade-out {
	opacity: 0;
	animation-name: ss-fade-out;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;
}
@keyframes ss-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes ss-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}